h1 {
    color: white;
    font-size: 50px;
    font-weight: bold;
    padding: 20px;
    background-color: blue;
}

.first {
    color: blue;
    font-size: 40px;
}

p {
    color: black;
    font-size: 25px;
}

ul {
    color: black;
    font-size: 25px;
}

form {
    color: black;
    font-size: 25px;
}